<!DOCTYPE html>
<html>
<head>
  <title>Mi plantilla EJS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Bienvenido a mi Plantilla EJS</h1>
    <p><%= mensaje %></p>
  </header>
</body>
</html>
