doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Confirmación
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css") 
    style.
      body
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      header
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
      main
        text-align: center;
        margin: 50px 0;
      h2
        color: #333;
      p
        color: #f8f2f2;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
      .boton-volver-inicio
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
      .boton-volver-inicio:hover
        background-color: #555;
      footer
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
      footer a
        color: #fff; //- Cambiar el color de los iconos a blanco
        margin: 0 5px;
        text-decoration: none;
      footer a:hover
        color: #ccc; //- Cambiar el color cuando se pasa el ratón sobre los iconos
  body
    header
      h1 Mi Portafolio Personal
      nav
       ul
        li
          a(href="/") Inicio
        li
          a(href="sobre") Sobre Mí
        li
          a(href="experiencia") Experiencia Laboral
        li
          a(href="educacion") Educación
        li
          a(href="habilidades") Habilidades
        li
          a(href="proyectos") Proyectos
        li
          a(href="contacto") Contáctame
    main
      section#confirmacion
        h2 ¡Gracias por tu mensaje!
        p Tu mensaje ha sido recibido correctamente. Nos pondremos en contacto contigo muy pronto.
        a.boton-volver-inicio(href="/") Volver al Inicio
    footer
      p Sígueme en:
      a(href="https://www.facebook.com/profile.php?id=100004627788774", target="_blank")
        i.fab.fa-facebook
      a(href="https://twitter.com/EDMMUSI78135350", target="_blank")
        i.fab.fa-twitter
      a(href="https://www.linkedin.com/in/joshua-fernando-tapia-osnayo-b21437274/", target="_blank")
        i.fab.fa-linkedin
      a(href="https://www.instagram.com/josh_tapia10/", target="_blank")
        i.fab.fa-instagram
      p &copy; 2023 Mi Portafolio Personal
