extends layout

block content
  header
    h1 Mi Portafolio Personal
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="sobre") Sobre Mí
        li
          a(href="experiencia") Experiencia Laboral
        li
          a(href="educacion") Educación
        li
          a(href="habilidades") Habilidades
        li
          a(href="proyectos") Proyectos
        li
          a(href="contacto") Contáctame

  main
    section#educacion
      h2 Educación
      .educacion
        h3 Internacional Elim
        p Título: Egresado de mi nivel secundario
        p Marzo 2013 - Diciembre 2018
        p Durante mi paso por el nivel secundario en la Institución Educativa Internacional Elim, tuve la oportunidad de consolidar mis conocimientos en diversas áreas académicas. Destaco mi participación activa en proyectos extracurriculares que me permitieron desarrollar habilidades de liderazgo y trabajo en equipo. Además, mi constante dedicación me llevó a obtener logros significativos, como [menciona algún logro específico si lo tienes]. Durante este período, también aproveché la oportunidad de cursar cursos adicionales en [menciona cursos o áreas de interés que hayas explorado]. Esta etapa educativa me proporcionó una base sólida que sienta las bases para mi formación en Diseño y Desarrollo de Software .

        h3 TECSUP
        p Título: Egresado de la carrera de diseño y desarrollo de software
        p Marzo 2020 - Actualmente
        p Durante mi tiempo como estudiante en la carrera de Diseño y Desarrollo de Software, he adquirido una sólida base de conocimientos en áreas fundamentales como programación, desarrollo web y móvil, así como diseño de software. He participado activamente en proyectos académicos que han fortalecido mi capacidad para resolver problemas y trabajar en equipo. Además, he complementado mi formación con cursos adicionales en [menciona cursos relevantes o especializaciones]. Estoy entusiasmado por aplicar estos conocimientos en el ámbito profesional y contribuir al desarrollo de soluciones innovadoras en el campo del software.</p>
            

        // Agrega más logros educativos si es necesario.
