extends layout

block content
  header
    h1 Mi Portafolio Personal
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="sobre") Sobre Mí
        li
          a(href="experiencia") Experiencia Laboral
        li
          a(href="educacion") Educación
        li
          a(href="habilidades") Habilidades
        li
          a(href="proyectos") Proyectos
        li
          a(href="contacto") Contáctame

  main
    section#experiencia-laboral
      h2 Experiencia Laboral
      .experiencia
        h3 DISTRIBUIDORA DM
        p Enero 2020 - Febrero 2023
        p Puesto: Supervisor de ventas
        p Como supervisor de ventas, lideré un equipo de 15 vendedores y superé los objetivos de ventas trimestrales en un 20%. Implementé una estrategia de capacitación que resultó en un aumento del 30% en la productividad del equipo. Además, fui reconocido como 'Supervisor del Mes' en tres ocasiones durante mi mandato.

        h3 Innova school
        p Julio 2023 - Agosto 2023
        p Puesto: Practicante
        p Durante mi tiempo como practicante, tuve la oportunidad de adquirir experiencia valiosa en el área de sistemas de finanzas. Contribuí al equipo al brindar apoyo al personal docente y fui responsable de las actividades a las que fui asignado. Además, pude aprender nuevas habilidades, completar proyectos de manera exitosa, etc. Esta experiencia me permitió desarrollar páginas web en la nube y me preparó para asumir desafíos más complejos en mi carrera profesional.

        // Agrega más experiencias laborales si es necesario.
