extends layout

block content
  header
    h1 Mi Portafolio Personal
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="sobre") Sobre Mí
        li
          a(href="experiencia") Experiencia Laboral
        li
          a(href="educacion") Educación
        li
          a(href="habilidades") Habilidades
        li
          a(href="proyectos") Proyectos
        li
          a(href="contacto") Contáctame

  main
    section#inicio
      h2 Bienvenido a mi Portafolio
      p Hola, soy Joshua Tapia, y te doy la bienvenida a mi espacio en línea.
      p Aquí encontrarás información detallada sobre mi trayectoria profesional, mi experiencia educativa, mis habilidades técnicas y una selección de proyectos destacados. Mi objetivo es proporcionarte una visión completa de quién soy y cómo puedo contribuir al mundo del diseño y desarrollo de software.
