extends layout

block content
  header
    h1 Mi Portafolio Personal
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="sobre") Sobre Mí
        li
          a(href="experiencia") Experiencia Laboral
        li
          a(href="educacion") Educación
        li
          a(href="habilidades") Habilidades
        li
          a(href="proyectos") Proyectos
        li
          a(href="contacto") Contáctame

  main
    section#sobre-mi
      h2 Sobre Mí
      .sobre-contenido
        center
          img(src="../images/foto.jpg", alt="Mi foto de perfil")
        p Soy Joshua, un apasionado del diseño y desarrollo de software con más de 21 años de experiencia en el campo de la informática. Mi profundo interés por la tecnología me ha llevado a trabajar en proyectos significativos, incluyendo el diseño de aplicaciones web y el desarrollo de aplicaciones móviles tanto para iOS como para Android.
        p En mi tiempo libre, disfruto de la música, caminar y viajar para descubrir nuevos lugares y culturas. Estoy firmemente comprometido con el aprendizaje continuo y siempre buscando oportunidades para perfeccionar mis habilidades y ampliar mis conocimientos en el emocionante mundo del diseño y desarrollo de software.

